manifest {
    mainScript = 'main.nf'
}

docker {
    enabled = true
}

// default parameters
params {
  output = 'cluster_results'
  cpus = "8"
  input = ''
  help = false
}

process {

     withName:filter {
         container = 'ubuntu:bionic'
      }
    withName:save_representatives {
        container = 'ubuntu:bionic'
     }
    withName:download {
          container = 'biocontainers/entrez-direct:v7.50.20171103_cv4'
       }
    withName:getFasta {
        container = 'quay.io/biocontainers/emboss:6.5.7--4'
     }
     withName:clustering {
         container = 'replikation/psi-cd-hit_nextflow:v.1.0'
      }
    withName:prokka {
        container = 'replikation/prokka:latest'
     }
    withName:abricate {
        container = 'replikation/abricate_nextflow:v.1.0'
     }
}
